{{ $data := index .Site.Data }}

{{ with $data.homepage.event_info }}
<section class="section event-info">
  <a id="event-info"></a>
  <div class="container">

   
    <h1 class="titulo">{{ .title }}</h1>


    <div class="content">
      <div>
        <p>{{ .description }}</p>   
        <p>{{ .description1 }}</p>    
      </div>

      <div>
        <p>{{ .description2 }}</p>
        <p>{{ .description3 }}</p> 
      </div>
    </div> 
    
  



    <br>
    
    <div class="imagen" > 
      
      <h2>{{ .present_by }}</h2>

      <br>

    <img src="{{ .image }}" alt="">


    </div>


    <br><br><br>



    <div id="eventbrite-widget-container-144095309951"></div>
<script src="https://www.eventbrite.com.mx/static/widgets/eb_widgets.js"></script>
<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };
    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '144095309951',
        iframeContainerId: 'eventbrite-widget-container-144095309951',
        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>


  </div>

  
 
</section>
{{ end }}