{{ define "main" }}

<section class="section {{ .Type }}">
  <div class="container">
    <div class="list-content">
      {{ .Content }}
    </div> 

    <h2 class="mb-5 mt-2" style="text-align: center;">Producción</h2>
    <div class="team-strip">
      {{ range where .Data.Pages.ByTitle "Params.group" "sg" }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">

              <img src="{{ .Params.image }}" width="300" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">

          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3" style="color: #0828B2;">{{ .Title }}</h4>
            <p style="color: #E62485;">{{ .Params.Designation}}</p>
            
          <ul class="list-inline">
            {{ with .Params.twitter }}
            <li class="list-inline-item"><a href="{{ . }}"><i class="tf-ion-social-twitter"></i></a></li>
            {{ end }}
            {{ with .Params.linkedin }}
            <li class="list-inline-item"><a href="{{ . }}"><i class="tf-ion-social-linkedin"></i></a></li>
            {{ end }}
          </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <br>

    <h2 class="mb-5 mt-3" style="text-align: center;">Comité de Contenidos y Aliados</h2>
    <div class="team-strip"> 
      {{ range where .Data.Pages.ByTitle "Params.group" "comunidades" }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">

              <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-fluid rounded-circle shadow">

          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3" style="color: #0828B2;">{{ .Title }}</h4>
            <p style="color: #E62485;">{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}


