{{ define "main" }}

<!-- Speaker Detail -->
<section class="speaker-detail" >
  <div class="container">
      <div class="row" style="margin-top: -70px;">
          <div class="image-column col-lg-4 col-md-12 col-sm-12">
              <div class="image-box">
                  <figure class="image"><img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt=""></figure>
                  <ul class="social-icon-two social-icon-colored text-center">
                      {{ with .Params.twitter }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-twitter"></span></a></li>
                      {{ end }}
                      {{ end }} 

                      {{ with .Params.linkedin }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                      {{ end }}
                      {{ end }} 

                      {{ with .Params.github }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-github"></span></a></li>
                      {{ end }}
                      {{ end }}

                      {{ with .Params.facebook }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-facebook"></span></a></li>
                      {{ end }}
                      {{ end }}
                  </ul>
              </div>
          </div>

          <div class="info-column col-lg-8 col-md-12 col-sm-12">
              <div class="inner-column">
                  <div class="text-box">
                      <h3>{{ .Title }}</h3>
                      {{ with .Params.designation }}<h5>{{.}}</h5>{{ end }}
                      <p>{{ .Content }}</p>
                      <h4>Sesiones por {{ .Title }}</h4>

                      <!-- Sessions speaker -->
                      <ul>
                      {{ range (.Data.Pages.ByParam "time_start").Reverse }}
                        <li><a href="{{ .Permalink }}" class="color-session-speaker" style="color: #17A8BC;">{{ .Title }}</a>{{ with .Params.time_start | time }} ({{ .Format "2006" }}){{ end }}</li>
                      {{ end }}
                      </ul>
                      <!-- Sessions speaker end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Speker Detail -->

{{ end }}