{{ define "main" }}

    <div class="container">
      <div class="content mt-4">
        {{ .Content }} 
      </div>  
   
    {{ range .Params.blocks}}
    <div class="schedule-block">
        <h3><span id="date-{{ .id }}">{{ .title_full }}</span></h3>
        <div class="session-list">
            {{ range sort (where (where (where $.Site.RegularPages "Section" "sessions") "File.Dir" "sessions/2022/" ) ".Params.block" .id ) ".Params.time_end" }}
            <div class="session-item {{ with .Params.format }}{{ . }}{{end}}">
            <div class="">
                <div id="time-{{.Params.id}}" class="session-time">{{ with .Params.time_start | time}}{{ .Format "15:04" }}{{ end }}-{{ with .Params.time_end | time}}{{ .Format "15:04" }}{{ end }}
                </div>
              </div>            
                <div class="session-info">
                    <h4><a class="session-title" data-toggle="collapse" href="#abs-{{.Params.id}}" style="color: white;">{{ .Params.title }}</a></h4>
                    {{ with .Params.speakers }}<p class="speakers-list" style="color: white;">Por {{ delimit . ", " " & " }}</p>{{ end }}
                    <div class="collapse card-abstract" id="abs-{{.Params.id}}" style="color: white;">
                      {{ .Summary }}
                        <div><a href="{{.Permalink}}" style="color: white;">Leer más ...</a></div>
                </div>
            </div>
          </div>
          
            {{ end }}
            <br>
        </div>
    </div>
    {{ end }}
</div>


  

{{ end }}





