.section.banner {
  /*background-color: #000a54;*/
  background-image: url(/images/ccoss-bg-darker.jpg);
  background-size: cover;
  background-position: center;
 
  margin-top: 40px;
  padding-bottom: 15px;

  display: grid;
  grid-template-columns: minmax(300px,1100px);
  justify-content: center;

  text-align: center;

/*
  .stripe-start {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    height: 10px;
    width: 100%;
    background-color: $orange;
  }

  .stripe-end {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    height: 10px;
    width: 100%;
    background-color: $orange;
  }*/

  .logo {
    padding-top: 10px;
  }


  .meta {
    margin: 80px 20px 0 20px;    
    background-color: rgba(48,48,48,0.5);
  }

  .logo img {
    margin: 0 auto;
    max-height: 20vh;
    max-width: 90%;
  }

  .meta p {
    font-size: 1.8em;
    color: $white;

    @media (max-width:768px) {
      font-size: 1.4em;
    }
  }


  .scroll-link {
    margin-top: 30px;
  }

  .scroll-link img {
    height: 30px;
  }

  .divider {
    width: 120px;
    height: 6px;
    background: $primary-color;
    display: block;
  }

  .btn-banner1 {
    background-color: $gray-light;
    color: $primary-color;
    font-weight: 500;
    letter-spacing: .1em;

    &:hover {
      color: $yellow2;
      background-color: #e0e0e0;
    }
  }

  .btn-banner2 {
    background-color: $primary-color;
    color: $white;
    font-weight: 500;
    letter-spacing: .1em;

    &:hover {
      background-color: $yellow;
      color: $white;
    }
  }
}