.navbar-collapse {
    flex-grow: 0 !important;
}

#slides-iframe {
	margin-top: 2em;
}

section.register a {
	color: $secondary-color;
}

section.swag a, section.page a {
	color: $secondary-color;
    text-decoration: underline;
}

section.faq img, section.coc img {
	max-width: 100%;
}

section.register p, section.swag p {
	font-size: 1.2em;
}

.btn-slack {
	background: $primary-color;
	color: $white;
	border-color: $primary-color;
	padding: 16px 20px;

	&:hover {
		background: $black;
		border-color: $black;
		color: $white;
	}
}

.speakers-list span:after {
	content: " & ";
}

.speakers-list span:last-child:after {
	content: "";
}

#slackModal .modal-body a {
	color: $secondary-color;
	text-decoration: underline;
}

.session-single {
	font-size: 16px;
	line-height: 1.8;
}

.headshot-box {
	position: relative;
}

.flag-ribbon {
	width: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}


.logo-b {
	height: 40px;
}

.info-buttons {
    margin: 10px;
	display: grid;
	grid-template-columns: minmax(150px, 250px) minmax(150px, 250px);
	grid-gap: 40px;
	justify-content: center;
}


.team-strip {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
	}

}

.profile-item .headshot {
	width:120px;
}
.profile-item .info {
	margin-left: 2em;
	align-self: center;
}

article.swag {
	background-color: #ffffff;
}
.swag-info {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	@include mobile {
		grid-template-columns: 1fr 1fr;
	}
}

.sponsor-strip.platinum {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr;
	}

}

.sponsor-strip.gold {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr;
	}

}


.sponsor-strip.silver {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 40px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr;
	}

}

.sponsor-strip.community {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 30px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr 1fr;
	}

}

.heading p {
	font-size: 1.2em;
}

.section-schedule {
	background-color: #dee7e7;
}

.section-speaker {
	background-color: #f6f5eb;
}

section.coc, section.faq {
	a {
		color: $primary-color;
		text-decoration: underline;
		&:hover {
			color: $secondary-color;
		}
	}
}

section.sponsors {
	background-color: white;
}

.time-table .content {
	flex-basis: 75%;
}

.stroke-text {
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #3d3d3f;
	font-size: 100px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;

	@include tablet {
		font-size: 60px;
	}

	@include mobile {
		font-size: 40px;
	}
}
  
  .event-info .content {
	display: grid;
	grid-gap: 32px;
	grid-template-columns: 1fr;
  
	@media (min-width:640px) {
	  grid-gap: 64px;
	  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));    
	}
  
  }
  
  .statistics-block {
	display: grid;
	width:100%;
	grid-gap: 32px 16px;
	grid-template-columns: repeat(2,1fr);
	@media (min-width:640px) {
	  grid-gap: 32px;
	}
  }
  
  .statistics-block .numbers {
	font-size: 40px;
	@media (min-width:640px) {
	  grid-gap: 56px;
	}
  }
  
  .statistics-block .numbers:after {
	content: "";
	display: block;
	height:2px;
	width:64px;
	background-color: $yellow;
	margin-top:10px;
  }
  
  .statistics-block .label {
	margin-top: 4px;
  }

  .event-info a {
	  color: $orange;
	  text-transform: uppercase;
	  &:hover {
		  color: $yellow;
	  }
	}

.list-content {
	margin-bottom: 1.6em;
}	

#event-info {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

.galeria a {
	color: white;
	text-decoration: underline;
}