.grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
}
#pic1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#pic3 {
    grid-row-start: 2;
    grid-row-end: 4;
}
#pic4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.galeria{
  padding: 35px;
  color: white;
  background-color: rgb(80, 175, 170);
}

.galeria>h2{
  color: white;
}

.galeria>a:hover{
  color: rgb(255, 255, 255);
}

.grid >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
