
#TopicTab {
	background: #eee;
	border-radius: 5px;
}

.nav-justified .nav-item {
	text-align: left !important;
}

.nav-pills .nav-link {
	border-radius: 0px;
	padding: 10px;
	-webkit-transition: all .45s ease;
	-moz-transition: all .45s ease;
	-ms-transition: all .45s ease;
	-o-transition: all .45s ease;
	transition: all .45s ease;
}

.nav-pills .nav-link.active {
	background: $primary-color;
	border-radius: 8px;
	position: relative;

	h2 {
		color: $white;
	}

	h5 {
		color: $white;
	}

	&:before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 17px 20px 0;
		border-color: #000 transparent transparent;
		content: "";
		position: absolute;
		bottom: -18px;
		transform: translateY(-50%);
		transition: .3s;
		left: 80px;
		margin: auto;
		z-index: -1;
		border-color: $primary-color transparent transparent;
	}

}


.time-table {
	.time {
		flex-basis: 20%;
	}

	.content {
		flex-basis: 60%;
	}


	.content-img {
		flex-basis: 20%;
		img {
			border-radius: 100%;
			@media screen {
				width: 100px;
			}
		}
	}

	li {
		box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
	}
}

.text-color-2 {
	color: $secondary-color;
}



@media (max-width: 576px) {
	.time-label { grid-area: 1 / 1 / 4 / 2; }
	.room-1 { grid-area: 1 / 2 / 2 / 5; }
	.room-2 { grid-area: 2 / 2 / 3 / 5; }
	.room-3 { grid-area: 3 / 2 / 4 / 5; }
	.room-4 { grid-area: 4 / 2 / 5 / 5; }  
}

.session-item, .activity {
	background-color: #c0c0c040;
	margin-bottom: 0.5em;
	padding: 0.8em;  
	border-radius: 10px;
}



.session-time {
	white-space: nowrap;
	font-size: 0.8em;
}

.session-room {
	font-size: 0.8em;
	color: #606060;
}

.session-title {
	font-weight: 500;
}

.session-title a {
	color: #404040;	
}
.session-title a:hover {
	text-decoration: underline;
}

.session-speakers {
	font-size: 0.9em;
	font-style: italic;
	color: #404040;
}

.session-info p {
	margin: 0;
}

.track-name {
	font-size: 0.8em;
}

.track-all {
	background-color: #ababab;
}

.track-cloud-native-tools--practices {
	background-color: #2ba15b30;
}

.track-fundamentos {
	background-color: #0844c550;
}

.track-contribución-a-open-source { 
	background-color: #e6248540;
}

.track-devops {
	background-color: #ad38056e;
}

.track-keynote {
	background-color: #ff310350;
}

.track-cloud-native-security {
	background-color: #cfc21240;
}

.track-casos-de-estudio {
	background-color: #0183c350;
}


.hour{
//	color:rgba(0, 0, 0, 0.653);
color: #404040;

}


.networking .session-info, .community .session-info {
	background-color: #f7b8f7;
}

.networking {
	margin-top: 1em;
}

.color-code-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.color-code-item {
	padding: 12px 18px; 
	border-radius: 4px; 
    margin-right: 1em;
	color: #404040;
}

.color-code-item:hover {
	background-color: white;
	border-color: #404040;
}
.session-meta {
  margin: 0;
  font-size: 0.9em;
}

#day-buttons .btn:hover, #day-buttons.btn.focus {
	background-color: white;
	color: #404040;
	border-color: #404040;
}

.card-abstract {
	font-size: 0.9em;
	color: #404040;
	font-style: italic;
}

.card-abstract a.read-more {
	font-weight: 500;
}

.daygrid.ccoss2024-1 {
	display: grid;
	grid-template-columns: 100px repeat(4, 1fr) repeat(2, 150px);
	grid-template-rows: auto;
	grid-column-gap: 1em;
	grid-row-gap: 0px;
}

.daygrid.ccoss2024-2 {
	display: grid;
	grid-template-columns: 100px repeat(10, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 1em;
	grid-row-gap: 0px;
}

.daygrid-xs {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1em;
	grid-row-gap: 0px;
}

.daygrid .activity {
    text-align: center;
}
