#TopicTab {
	background: #eee;
	border-radius: 5px;
}

.nav-justified .nav-item {
	text-align: left !important;
}

.nav-pills .nav-link {
	border-radius: 0px;
	padding: 10px;
	-webkit-transition: all .45s ease;
	-moz-transition: all .45s ease;
	-ms-transition: all .45s ease;
	-o-transition: all .45s ease;
	transition: all .45s ease;
}

.nav-pills .nav-link.active {
	background: $primary-color;
	border-radius: 8px;
	position: relative;

	h2 {
		color: $white;
	}

	h5 {
		color: $white;
	}

	&:before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 17px 20px 0;
		border-color: #000 transparent transparent;
		content: "";
		position: absolute;
		bottom: -18px;
		transform: translateY(-50%);
		transition: .3s;
		left: 80px;
		margin: auto;
		z-index: -1;
		border-color: $primary-color transparent transparent;
	}

}


.time-table {
	.time {
		flex-basis: 20%;
	}

	.content {
		flex-basis: 60%;
	}


	.content-img {
		flex-basis: 20%;

		img {
			border-radius: 100%;

			@media screen {
				width: 100px;
			}
		}
	}

	li {
		box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
	}
}

.text-color-2 {
	color: $secondary-color;
}

.session-item {
	display: grid;
	align-items: start;
	grid-template-columns: 100px 1fr;
	column-gap: 20px;
	margin: 1em 0;
}

.session-time {
	white-space: nowrap;
	padding-top: 1em;
}

.session-info {
	padding: 12px;
	border-radius: 10px
}

.session-info p {
	margin: 0;
}

.keynote .session-info {
	background-color: #b0b0f0;
}

.session .session-info {
	background-color: #00A19A;
}

.adoption .session-info,
.spotlight .session-info {
	background-color: #d0f0d6;
}

.workshop .session-info {
	background-color: #942581;
}

.lightning .session-info {
	background-color: #80c9fa;
	border-radius: 0px;
}

.session-item.lightning {
	margin:0;
}

.networking .session-info, .community .session-info {
	background-color: #f7b8f7;
}

.networking {
	margin-top: 1em;
}

.color-code-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.color-code-item {
	padding: 5px; 
	border-radius: 4px; 
    margin-right: 1em;
}

.session-meta {
  margin: 0;
  font-size: 0.9em;
}