.speakers-wrapper {
	margin: 20px 0;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(120px, 240px));
	grid-gap: 50px;
}

.speaker {
	text-align: center;
	cursor: pointer;
}

.color-session-speaker{

	color: $secondary-color;
}

.speaker-strip {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 60px;

	@include tablet {
		grid-template-columns: repeat(3, 1fr);
	}

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
	}

}

.speaker-info .thumb {
    text-align: center;
}

.speaker-info .img-container {
	width: 80%;
	margin: 0.5em auto;
}

.speaker-info a {
	color: $primary-color;
}


.speaker-detail {
	position: relative;
	padding: 120px 0 70px;
}

.speaker-detail .image-column{
	position: relative;
	margin-bottom: 50px;
}

.speaker-detail .image-column .image-box{
	position: relative;
	padding-right: 20px;
}

.speaker-detail .image-column .image{
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	border: 10px solid #ffffff;
	box-shadow: 0 0 30px rgba(0,0,0,0.10);
}

.speaker-detail .image-column .image img{
	display: block;
	width: 100%;
}

.speaker-detail .info-column{
	position: relative;
}

.speaker-detail .info-column .inner-column{
	position: relative;
}

.speaker-detail .info-column h1{
	position: relative;
	font-size: 50px;
	line-height: 1em;
	font-weight: 700;
	margin-bottom: 20px;
}

.speaker-detail .info-column h3{
	position: relative;
	display: block;
	font-size: 40px;
	line-height: 1em;
	font-weight: 600;
	margin-bottom: 20px;
	color: #101130;
}

.speaker-detail .info-column h4{
	position: relative;
	display: block;
	font-size: 24px;
	line-height: 1em;
	font-weight: 500;
	margin-bottom: 20px;
	color: #222222;
}

.speaker-detail .info-column h5{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 1em;
	font-weight: 500;
	margin-bottom: 10px;
	color: $secondary-color;
}

.speaker-detail .info-column .text-box{
	position: relative;
}

.speaker-detail .speaker-session-info{
	position: relative;
	margin-bottom: 30px;
}

.speaker-detail .speaker-session-info p{
	margin-bottom: 0;
	color: rgb(63,89,139);
}


.speaker-detail .bottom-box{
	position: relative;
	padding-left: 80px;
	min-height: 50px;
	margin-bottom: 30px;
}

.social-icon-two{
	position: relative;
	display: block;
}

.social-icon-two li{
	position:relative;
	display:inline-block;
	margin-right: 8px;
	margin-bottom: 10px;
}

.social-icon-two li a .fab{
	position:relative;
	display:block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	font-size:16px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.social-icon-two li a:hover .fab{
	color: #ffffff;
	background-color: $secondary-color;
}

p.designation {
    font-style: italic;
	font-weight: 500;
}

.headshot {
	position: relative;
}


.headshot .overlay {
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	bottom: 0px;
	right: 0px;
	background-color: $orange;
	opacity: 0;
	transition: all 0.3s ease; 
}

.headshot:hover .overlay {
    opacity: 0.5;
}