
//fonts

$base-font                : 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
$heading-font             : 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size           : 16px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #444444;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color: #00A19A;
$secondary-color: #000a54;
$orange:#17A8BC;
$yellow:#37C3D6;
$yellow2: white;
$yellow-strong: #dc8f0b;


$primary: #00A19A !important;