
<section class="section blog">
  <div class="container">
    <div class="row section-heading">
      <div class="col-md-8">
        <div class="heading">
          <h2>Noticias recientes</h2>
        </div>
      </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Site.RegularPages "Type" "blog" )}}
        <div class="col-lg-4 col-md-6">
          <div class="blog-item card border-0 mb-5 mb-lg-0">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid">
            <div class="p-4">
              <h4 class="mt-2 mb-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h4>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
</section>
  