{{ $data := index .Site.Data }}



{{ with $data.homepage.event_info }}
<section class="text-center mt-3"> 


  <div class="container">
    <h4>{{ .description }} <br>
      {{ .contribution }}</h4>
    <p></p>
  </div>
    <br>

  <div class="icons-projects">
    <div class="row">
      <div class="col-sm">
        <img src="/images/icons/icon-modalidad.png" width="220px">
        <br><br>
        <h3>Presencial </h3>
        <p>En Guadalajara, México</p>
      </div>
      <div class="col-sm">
        <img src="/images/icons/icon-proyectos.png" width="220px">
        <br><br>
        <h3>2</h3>
        <p>Días</p>
      </div>
      <div class="col-sm">
        <img src="/images/icons/icon-dias.png" width="220px">
        <br><br>
        <h3>Contribuye</h3>
        <p>al Open Source software</p>
      </div> 
      <div class="col-sm">
        <img src="/images/icons/icon-welcome.png" width="220px">
        <br><br>
        <h3>Participa</h3>
        <p>En pláticas y talleres</p>
      </div>
    </div>
  </div>

  <br><br>


  <img src="/images/linea-de-colores.png" class="img-fluid line">

  
</section>
{{ end }}




<!--

{{ with $data.homepage.event_info }}
<section class="section event-info">
  <a id="event-info"></a>
  <div class="container">
    <div class="content">
      <div>
        <h2>{{ .title }}</h2>
        <p>{{ .description }}</p>
        <p>{{ .contribution }}</p>
        <a href="{{ .cta_link }}" target="_blank">
            <span class="cta-label">{{ .cta_text }}</span> <i class="fas fa-arrow-circle-right"></i>
        </a>

      </div>

      <div class="statistics-block">
        {{ range .features }}
          <div class="item">
            <div class="numbers">{{ .number }}</div>
            <div class="label">{{ .label }}</div>
          </div>
        {{ end }}   
      </div>
    </div>    
  </div>
</section>
{{ end }}

-->