<footer class="section footer" style="background-color:  #0828b2;">
	<div class="container">
		<div class="footer-strip">
			<div>
				<h3 class="mb-3 text-white">{{ .Site.Title | markdownify }}</h3>

				<ul class="list-inline footer-socials ">
					{{ range .Site.Params.social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}" style="color: white;"></i></a></li>
					{{ end }}
				</ul>
			</div>
			<div>
				<h5 class="text-white">Acerca de</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_about }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
					{{ range .Site.Params.footer_source }}
					<li><a href="{{ .link | safeURL }}" target="_blank" rel="noopener">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div>
				<h5 class="text-white">Recursos</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_previous }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div>
				<h5 class="text-white">Contáctanos</h5>
				<ul class="footer_links">
					{{ range .Site.Params.footer_resources }}
					<li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
		{{ with .Site.Params.disclaimer }}
		<div class="disclaimer text-white">
			{{ . }}
		</div>
        {{ end }}
	</div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
