{{ $data := index .Site.Data }}

{{ with $data.homepage.organized_by }}

<section class="section event-info">
    <div class="container"  >
     <div class="content">

      <div style="padding: 10px;"> 
         <img src="{{ .logo }}" alt="" class="img-fluid">
      </div>

        <div class="" style="padding: 15px;">

          <h3>{{ .organizingTitle }}</h3>
          <p>{{ .organizerDescription }}</p>
           <a href="{{ .organizerLink }} ">
             <span class="cta-label">{{ .organizerButton }}</span> <i class="fas fa-arrow-circle-right"></i>
           </a>

          <br><br>

          <h3>{{ .collaboratingTitle }}</h3>
          <p>{{ .collaborationDescription }}</p>
           <a href="{{ .contactLink }}">
             <span class="cta-label">{{ .contactusButton }}</span> <i class="fas fa-arrow-circle-right"></i>
           </a>
        </div>

     </div>
    </div>
</section>


<div class="grid">
  <img id="pic1" src="{{ .img }}">
  <img id="pic2" src="{{ .img2 }}">
  <img id="pic3" src="{{ .img3 }}">
  <div class="galeria" id="pic5">
    <h2>Galería CCOSS 2019</h2>
    <p>Así se vivió CCOSS 2019.</p>
    <br>

    <a href="https://photos.google.com/share/AF1QipOd_8EFVS7GHKXucIUo5DU1CBAy-sgY-QXAOWgbDeWyc6Ya1OyhYz5XxGNka2dn0Q?key=eHA3QlRqMW5jSVE3bi1UTFZNUEE4Y3RpSVJPQVVn" target="_blank">Ve el albúm completo</a>
  </div>
  <img id="pic6" src="{{ .img5 }}">
  <img id="pic5" src="{{ .img4 }}">
  <img id="pic6" src="{{ .img6 }}">
 
</div>
{{ end }}
