{{ define "main" }}

<section class="speaker-2 section">
    <div class="container">
        <div>
            {{ .Content }}
        </div>
        <div class="awards-list">
            {{ range .Data.Pages }}
            <div class="awards-item d-flex my-3 pt-2 border">
                <div class="person-meta col-5">
                    <h4>{{ .Title }}</h4>
                    <span class="text-secondary">{{ .Params.Designation }}</span>
                    <ul class="list-inline social-single mt-1">
                        {{ with .Params.twitter }}
                        {{ if ne . "" }}
                        <li class="list-inline-item"><a href="{{ . }}" target="_blank"><i
                                    class="tf-ion-social-twitter"></i></a></li>
                        {{ end }}
                        {{ end }}
                        {{ with .Params.linkedin }}
                        {{ if ne . "" }}
                        <li class="list-inline-item"><a href="{{ . }}" target="_blank"><i
                                    class="tf-ion-social-linkedin"></i></a></li>
                        {{ end }}
                        {{ end }}
                        {{ with .Params.github }}
                        {{ if ne . "" }}
                        <li class="list-inline-item"><a href="{{ . }}" target="_blank"><i
                                    class="tf-ion-social-github"></i></a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div>
                    <em>{{ .Content }}</em>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}